div#slider{
	width: 100%;
	max-width: 1920px;
	margin: auto;
	margin-top: 50px;
	overflow: hidden;
}
div#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: left;
	animation: 30s slidy infinite;
}
div#slider figure img {
	width: 20%;
	height: auto;
	float: left;
}
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; } 
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
#content {
	min-height: 1500px;
   	margin-bottom: 100px;
   	clear: both;
}
div.graphic-content {
	float: left;
}
div.ram-content {
	float: left;
}
div.processors-content {
	float: left;
}
.body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
.products-container {
    position: absolute;
    left: 200px;
    right: 50px;
    top: 685px;
}
.product-card {
    height: 300px;
    margin: 10px;
    min-width: 200px;
    position: relative;
    float: left;
}
.product-card{width: calc(100% - 30px);}

@media only screen and (min-width:42px){
.product-card{width: calc((100% - 60px) / 2)}
}
@media only screen and (min-width:25px){
.product-card{width: calc((100% - 90px) / 7);}
}
.product-container {
    position: absolute;
    top: 105px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.product-image-container {
    height: 100px;
    max-width:300px;
    position: relative;
    top: 15px;
    left: 30%;
}
.product-image-container img { 
    max-width: 150px;
    max-height: 100px;
}.product-name {
    margin: 15px;
    font-size: 14px;
}
.product-rating-and-price-container {
    font-size: 12px;
}
.product-rating {
    position: absolute;
    right: 10%;
    color: rgb(255, 153, 0);
}
.product-price {
    position: absolute;
    left: 10%;
}
#contentinfo {
   position:fixed;
   left:0px;
   bottom:0px;
   height:55px;
   width:100%;
   background:#666666;
}
#about{
	text-align: center;
	color: #d9d9d9;
	margin: 20px;